# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform variable files
*.tfvars
*.tfvars.json

# Local / OS files
.DS_Store
*.log
